@model List<Emploeeys>
@{
    ViewData["Title"] = "Home Page";
}


<div class="carta">


        
        <form asp-controller="Home" asp-action="index">

            <p class="buscar">
                Buscar: <input type="text" name="buscar" class="form-text"/>
                <input type="submit" value="Buscar" class=" btn btn-sm btn-dark"/>
            </p>
        </form>

        @if(Model != null){
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Genero</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.employeeId</td>
                            <td>@item.nombre</td>
                            <td>@item.apellido</td>
                            <td>@item.documento</td>
                            <td>@item.telefono</td>
                            <td>@item.correo</td>
                            <td>@item.genero</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
</div>